{% extends 'base.html.twig' %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        </div>
        <div class="media-body">
            </br>
            </br>
            <strong>Episode :{{ episode.title }}  </strong>
            </br>
            </br>
            <p>Le Synopsis : {{ episode.synopsis }}</p>
            <a href="{{ path('lesSeries') }}">
                Retourner aux séries
            </a>
        </div>
    </div>

{% endblock %}