{% extends 'base.html.twig' %}

{% block body %}

    <h3>Saison {{ season.number }} de {{ program.title }}</h3>
    <p>{{ season.year }}</p>
    <br>
    <ul>
        {% for episode in episode %}
            <li><strong><a href="{{ path('show_episode', {"id" :episode.id})}}">Episode {{ episode.id }} :</a></strong> {{ episode.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}